<section class="about" fxFlex="100%" fxLayout="column" fxLayout.gt-md="row">

    <div class="about__block-wrapper" fxFlex="100%" fxFlex.gt-md="33.333333%">
        <div id="image" class="about__block">
        </div>
    </div>

    <div class="about__block-wrapper" fxFlex="100%" fxFlex.gt-md="66.666666%">

        <div id="about" class="about__block">

            <article class="white">
                <h2 class="reveal-slide">Ik ben Wessel Loth</h2>

                <h3 class="reveal-fade">En ik maak toffe software</h3>

                <p class="reveal-fade">Lorem ipsum dolor sit amet, ex quo denique accusata intellegam, quo assum periculis ne. Oblique suavitate ut vim, graece omittam scaevola vim ea, nam accusata electram no. Te has stet ludus, ne tantas suscipiantur pro. Ut habemus corpora cum. Mel quodsi placerat voluptatum at, mucius mediocritatem sit in, est nisl laoreet tincidunt eu.</p>

                <p class="reveal-fade">Dicam partem omnium per at. Atqui feugiat saperet vis id, mei in erroribus persecuti. Et erat iracundia elaboraret sea, qui graeci volumus consulatu ne. Debet voluptatibus at pri. Pro ad odio albucius, vel ei vide fierent indoctum.</p>
            </article>

            <article class="black">
                <h2 class="reveal-slide">Ik ben Wessel Loth</h2>
                <h3 class="reveal-fade">En ik maak toffe software</h3>

                <p class="reveal-fade">Lorem ipsum dolor sit amet, ex quo denique accusata intellegam, quo assum periculis ne. Oblique suavitate ut vim, graece omittam scaevola vim ea, nam accusata electram no. Te has stet ludus, ne tantas suscipiantur pro. Ut habemus corpora cum. Mel quodsi placerat voluptatum at, mucius mediocritatem sit in, est nisl laoreet tincidunt eu.</p>

                <p class="reveal-fade">Dicam partem omnium per at. Atqui feugiat saperet vis id, mei in erroribus persecuti. Et erat iracundia elaboraret sea, qui graeci volumus consulatu ne. Debet voluptatibus at pri. Pro ad odio albucius, vel ei vide fierent indoctum.</p>
            </article>

        </div>

    </div>
</section>