@import url("https://fonts.googleapis.com/css?family=Raleway:400,800");
html, body {
  margin: 0;
  padding: 0;
  color: #f7faff;
  overflow-y: scroll; }

#demo-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../demo-bg.jpg");
  background-size: cover; }

#author {
  text-align: center; }
  #author h1 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 4.2em; }
  #author h2 {
    font-weight: 100;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    margin-top: -50px; }
  #author h3 {
    font-weight: 100;
    font-size: 2em; }
  @media screen and (max-width: 470px) {
    #author h1 {
      padding-top: 0;
      margin-top: 5%; }
    #author h2 {
      display: none; }
    #author h3 {
      margin-top: -35px; } }
  @media screen and (min-width: 768px) {
    #author h1 {
      margin-top: 15%; } }

#author-email {
  margin-top: 50px;
  color: #f7faff !important;
  transition: all 200ms; }

footer {
  margin-top: 50px;
  font-size: 1.3em; }
  footer p span.separator {
    margin-left: 15px;
    margin-right: 15px; }
  footer p a {
    color: #f7faff !important;
    transition: all 200ms; }
    footer p a:hover {
      text-decoration: none;
      color: #91baff !important; }
  @media screen and (min-width: 768px) {
    footer p {
      margin-left: 25px; } }

#author-links {
  display: flex;
  align-items: center;
  justify-content: center; }

.btn, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none !important;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  transition: all .25s;
  color: #f7faff;
  margin-bottom: 15px; }
  @media screen and (min-width: 768px) {
    .btn, button, input[type="submit"], input[type="reset"], input[type="button"] {
      margin-left: 10px;
      margin-right: 10px; } }
  .btn:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    color: #91baff;
    border-color: #91baff; }

.btn-full-width {
  width: 100%; }

.flex-center-container {
  display: flex;
  align-items: center;
  justify-content: center; }
