@import url("https://fonts.googleapis.com/css?family=Raleway:400,800");
html, body {
  margin: 0;
  padding: 0;
  color: #f7faff; }

#demo-canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../demo-bg.jpg");
  background-size: cover; }

#author {
  padding-top: 15%; }
  #author h1 {
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 4.2em; }

#author-email {
  margin-top: 50px;
  color: #f7faff !important;
  transition: all 200ms; }

footer {
  margin-top: 50px;
  font-size: 1.3em; }
  footer .separator {
    background-color: #deeaff; }
  footer li {
    display: inline;
    margin-left: 20px; }
    footer li:first-child {
      margin: 0; }
    footer li a {
      color: #f7faff !important;
      transition: all 200ms; }
      footer li a:hover {
        text-decoration: none;
        color: #91baff !important; }

#author-links {
  display: flex;
  align-items: center;
  justify-content: center; }

.btn, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none !important;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  transition: all .25s;
  color: #f7faff;
  margin: 10px; }
  .btn:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    color: #91baff;
    border-color: #91baff; }

.btn-full-width {
  width: 100%; }

.flex-center-container {
  display: flex;
  align-items: center;
  justify-content: center; }
