<section class="contact" fxFlex="100%" fxLayout="column" fxLayout.gt-md="row">

    <div class="contact__block-wrapper" fxFlex="100%" fxFlex.gt-md="66.666666%">
        <div id="image" class="contact__block">
        </div>
    </div>

    <div class="contact__block-wrapper" fxFlex="100%" fxFlex.gt-md="33.3333333%">
        <div id="contact" class="contact__block">
            <h2 class="reveal-slide">Contact</h2>

            <div class="info-block reveal-fade">
                <h3>Email</h3>
                <a href="mailto:wessel@loth.io">wessel@loth.io</a>
            </div>

            <div class="info-block reveal-fade">
                <h3>Telephone</h3>
                <a href="tel:+31642050920">+31 6 420 509 20</a>
            </div>

            <div class="info-block reveal-fade">
                <h3>Social</h3>
                <ul>
                    <li><a target="_blank" href="https://github.com/wsloth">GitHub</a></li>
                    <li><a target="_blank" href="https://www.instagram.com/wloth/">Instagram</a></li>
                    <li><a target="_blank" href="https://twitter.com/WesselLoth">Twitter</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/wessel-loth-6a094bb6/">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>