@import '~styles/_variables';
@import '~styles/_mixins';

@include fill-host-component;

.contact {
	width: 100%;
	height: 100%;

	.contact__block-wrapper {
		height: 100%;
		width: 100%;

		.contact__block {
			width: 100%;
			height: 100%;
		}
	}
}

#image {
	background: url('/assets/img/blog.jpg');
	background-size: cover;
}

#contact {
	background-color: #fff;
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;

	h2 {
		max-width: 75%;
		margin: 0 auto;
	}

	.info-block {
		max-width: 75%;
		margin: 0 auto;
        margin-top: 3.5rem;
        
        h3 {
            margin-bottom: .75rem;
        }

		a {
			display: inline-block;
			position: relative;
			vertical-align: middle;
			color: $primary-purple;
			text-decoration: none;
            overflow: hidden;

			&:after {
				position: absolute;
				bottom: 1px;
				display: block;
				content: '';
				width: 100%;
				height: 1px;
				transform: translate3d(-100%, 0, 0);
                transition: background .6s cubic-bezier(.19, 1, .22, 1), 
                            transform .6s cubic-bezier(.19, 1, .22, 1) .05s;
			}

			&:hover {
				&:after {
					background: $primary-purple;
					transform: translate3d(0, 0, 0);
					transition: background .6s cubic-bezier(.19, 1, .22, 1),
						        transform .6s cubic-bezier(.19, 1, .22, 1) .05s;
				}
			}
		}
	}
}
