// Colors
$primary-light: #fff;
$primary-dark: #171719;
$primary-blue: rgb(33, 150, 243);
$primary-yellow: rgb(247, 198, 38);
$primary-purple: rgb(229, 18, 125);

// Fonts
$font-stack-default: 'Roboto', 'Helvetica', sans-serif;

$font-size-default: 19px;
$font-size-h1: 3rem;
$font-size-h2: 2.5rem;
$font-size-h3: 1.4rem;