main {
	height: 100%;
	overflow: hidden;

	section {
		display: flex;
		height: 100%;
		width: 100%;
		background-color: #252525;
	}
}

.transition {
	z-index: 5;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;

	.transition__container {
		height: 100%;
		overflow: hidden;

		.overlay {
			height: 100%;
			width: 100%;
			background-color: #252525;
		}
	}
}
