<div class="transition" fxLayout="row" *ngIf="showOverlay">
    <div fxFlex.xs="100%" fxFlex.lg="33.333333%" class="transition__container">
        <div class="overlay" id="overlay-left"></div>
    </div>

    <div fxFlex.xs="100%" fxFlex.lg="33.333333%" class="transition__container">
        <div class="overlay" id="overlay-middle"></div>
    </div>

    <div fxFlex.xs="100%" fxFlex.lg="33.333333%" class="transition__container">
        <div class="overlay" id="overlay-right"></div>
    </div>
</div>

<main>
     <header class="topbar">
        
        <div *ngIf="showMenu" id="menu-icon" class="menu-icon" (click)="routingService.routeTo('.')">
            <div></div>
            <div></div>
            <div></div>
        </div>

    </header> 

    <section>
        <router-outlet #r="outlet">
        </router-outlet>
    </section>
</main>