@import '~styles/_variables';
@import '~styles/_mixins';

// Fill both the host and main
@include fill-host-component;
main {
	height: 100%;
	width: 100%;
}

section.home {
	height: 100%;
	display: flex;

	div.home__block-wrapper {
		width: 100%;
		height: 100%;
		overflow: hidden;
		padding: 0;
		margin: 0;

		.home__block {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			cursor: pointer;
			color: white;

			.block-text {
				h1 {
					@include default-transition;
					margin: 0 0 0 15%;
					transform: translateY(40px);
				}

				.reveal {
					@include default-transition;
					transform: translateY(-100%);
					overflow: hidden;
					margin: 0 0 0 15%;
					width: 75%;

					.reveal__inner {
						@include default-transition;
						transform: translateY(100%);

						p {
							@include default-transition;
							transform: translateY(100%);
							overflow: hidden;
							height: 50px;
							margin: 0;
						}
					}
				}

				h3 {
					@include default-transition;
					margin: 0 0 100px 15%;
				}
			}

			&:hover {
				.block-text {
					h1 {
						transform: translateY(-30px) !important;
					}

					.reveal {
						transform: translateY(0);

						.reveal__inner {
							transform: translateY(0);

							p {
								transform: translateY(0);
							}
						}
					}
					h3 {
						transform: translateY(30px);
					}
				}
			}
		}
	}
}

#blog {
	background: linear-gradient(
			45deg,
			rgba($primary-yellow, .5) 15%,
			rgba($primary-yellow, .5) 40%,
			rgba(0, 0, 0, .0) 85%
		),
		url('/assets/img/blog.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#about {
	background: linear-gradient(
			45deg,
			rgba($primary-purple, 0) 15%,
			rgba($primary-purple, .4) 60%,
			rgba($primary-purple, .6) 95%
		),
		url('/assets/img/about.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#intro {
	background: linear-gradient(
			25deg,
			rgba($primary-blue, .4) 15%,
			rgba($primary-blue, .05) 55%,
			rgba($primary-blue, .1) 85%
		),
		url('/assets/img/profile.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
