<main fxLayout="row">

    <section class="home" fxFlex="100%" fxLayout="column" fxLayout.gt-md="row">

        <div (click)="routingService.routeTo('about')" class="home__block-wrapper" fxFlex="100%" fxFlex.gt-md="33.3333333%">
            <div id="intro" class="home__block">
                <div class="block-text reveal-fade">
                    <h1>Wessel Loth</h1>
                    <div class="reveal">
                        <div class="reveal__inner">
                            <p>I love to create meaningful software with passion, skill and a cup of coffee.</p>
                        </div>
                    </div>
                    <h3>Full Stack Developer</h3>
                </div>
            </div>
        </div>

        <div (click)="routingService.routeTo('blog')" class="home__block-wrapper" fxFlex="100%" fxFlex.gt-md="33.3333333%">
            <div id="blog" class="home__block">
                <div class="block-text reveal-fade">
                    <h1>Blog</h1>
                    <div class="reveal">
                        <div class="reveal__inner">
                            <p>Read my latest ramblings about software development in the real world.</p>
                        </div>
                    </div>
                    <h3>The latest from me</h3>
                </div>
            </div>
        </div>

        <div (click)="routingService.routeTo('contact')" class="home__block-wrapper" fxFlex="100%" fxFlex.gt-md="33.3333333%">
            <div id="about" class="home__block">
                <div class="block-text reveal-fade">
                    <h1>Contact</h1>
                    <div class="reveal">
                        <div class="reveal__inner">
                            <p>Want to have coffee with me or just shoot an email? Click here for my info.</p>
                        </div>
                    </div>
                    <h3>Get in touch</h3>
                </div>
            </div>
        </div>
    </section>
</main>


<!-- <section fxLayout.xs="column" fxLayout.md="row" fxLayoutGap="1%">

    <md-card fxFlex.xs="95" fxFlex.lg="30">

        <md-card-header>
            <div md-card-avatar style="background-image: url('/assets/img/profile.jpg');background-size:cover;"></div>
            <md-card-title>Wessel Loth</md-card-title>
            <md-card-subtitle>Full Stack Developer</md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </md-card-content>

        <md-card-actions>
            <button md-button>GITHUB</button>
            <button md-button>LINKEDIN</button>
            <button md-button>TWITTER</button>
        </md-card-actions>

    </md-card>

    <md-card fxFlex.xs="95" fxFlex.lg="30">

        <md-card-header>
            <div md-card-avatar style="background-image: url('/assets/img/profile.jpg');background-size:cover;"></div>
            <md-card-title>Wessel Loth</md-card-title>
            <md-card-subtitle>Full Stack Developer</md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </md-card-content>

        <md-card-actions>
            <button md-button>GITHUB</button>
            <button md-button>LINKEDIN</button>
            <button md-button>TWITTER</button>
        </md-card-actions>

    </md-card>

    <md-card fxFlex.xs="95" fxFlex.lg="30">

        <md-card-header>
            <div md-card-avatar style="background-image: url('/assets/img/profile.jpg');background-size:cover;"></div>
            <md-card-title>Wessel Loth</md-card-title>
            <md-card-subtitle>Full Stack Developer</md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </md-card-content>

        <md-card-actions>
            <button md-button>GITHUB</button>
            <button md-button>LINKEDIN</button>
            <button md-button>TWITTER</button>
        </md-card-actions>

    </md-card>

</section>
<section fxLayout.xs="column" fxLayout.md="row" fxLayoutGap="1%">
    <md-card fxFlex.xs="95" fxFlex.lg="30">

        <md-card-header>
            <div md-card-avatar style="background-image: url('/assets/img/profile.jpg');background-size:cover;"></div>
            <md-card-title>Wessel Loth</md-card-title>
            <md-card-subtitle>Full Stack Developer</md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </md-card-content>

        <md-card-actions>
            <button md-button>GITHUB</button>
            <button md-button>LINKEDIN</button>
            <button md-button>TWITTER</button>
        </md-card-actions>

    </md-card>

    <md-card fxFlex.xs="95" fxFlex.lg="30">

        <md-card-header>
            <div md-card-avatar style="background-image: url('/assets/img/profile.jpg');background-size:cover;"></div>
            <md-card-title>Wessel Loth</md-card-title>
            <md-card-subtitle>Full Stack Developer</md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </md-card-content>

        <md-card-actions>
            <button md-button>GITHUB</button>
            <button md-button>LINKEDIN</button>
            <button md-button>TWITTER</button>
        </md-card-actions>

    </md-card>

    <md-card fxFlex.xs="95" fxFlex.lg="30">

        <md-card-header>
            <div md-card-avatar style="background-image: url('/assets/img/profile.jpg');background-size:cover;"></div>
            <md-card-title>Wessel Loth</md-card-title>
            <md-card-subtitle>Full Stack Developer</md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </md-card-content>

        <md-card-actions>
            <button md-button>GITHUB</button>
            <button md-button>LINKEDIN</button>
            <button md-button>TWITTER</button>
        </md-card-actions>

    </md-card>

</section> -->