:host,
main {
	height: 100%;
	width: 100%;
}

@mixin default-transition {
	transition: 1s transform cubic-bezier(.19, 1, .22, 1);
}

section.menu {
	height: 100%;
	display: flex;

	div.menu__block-wrapper {
		width: 100%;
		height: 100%;
		overflow: hidden;
		padding: 0;
		margin: 0;

		.menu__block {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			cursor: pointer;
			color: white;

			h1 {
				@include default-transition;
				font-size: 65px;
				font-weight: bold;
				margin: 0 0 0 15%;
				transform: translateY(40px);
			}

			.reveal {
				@include default-transition;
				transform: translateY(-100%);
				overflow: hidden;
				margin: 0 0 0 15%;
				width: 75%;

				.reveal__inner {
					@include default-transition;
					transform: translateY(100%);

					p {
						@include default-transition;
						transform: translateY(100%);
						overflow: hidden;
						font-size: 20px;
						height: 50px;
						margin: 0;
					}
				}
			}

			h3 {
				@include default-transition;
				font-size: 30px;
				font-weight: 100;
				margin: 0 0 100px 15%;
			}

			&:hover {
				h1 {
					transform: translateY(-30px) !important;
				}

				.reveal {
					transform: translateY(0);

					.reveal__inner {
						transform: translateY(0);

						p {
							transform: translateY(0);
						}
					}
				}
				h3 {
					transform: translateY(30px);
				}
			}
		}
	}
}

#blog {
	background: linear-gradient(
			45deg,
			rgba(247, 198, 38, .5) 15%,
			rgba(247, 198, 38, .5) 40%,
			rgba(229, 18, 125, .0) 85%
		),
		url('/assets/img/blog.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#about {
	background: linear-gradient(
			45deg,
			rgba(229, 18, 125, 0) 15%,
			rgba(229, 18, 125, .4) 60%,
			rgba(229, 18, 125, .6) 95%
		),
		url('/assets/img/about.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#intro {
	background: linear-gradient(
			25deg,
			rgba(33, 150, 243, .4) 15%,
			rgba(33, 150, 243, .05) 55%,
			rgba(33, 150, 243, .1) 85%
		),
		url('/assets/img/profile.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
