<div class="menu-transition" fxLayout="row" *ngIf="showOverlay">
    <div fxFlex.xs="100%" fxFlex.lg="33.333333%" class="menu-transition__container">
        <div class="overlay" id="overlay-intro"></div>
    </div>

    <div fxFlex.xs="100%" fxFlex.lg="33.333333%" class="menu-transition__container">
        <div class="overlay" id="overlay-blog"></div>
    </div>

    <div fxFlex.xs="100%" fxFlex.lg="33.333333%" class="menu-transition__container">
        <div class="overlay" id="overlay-about"></div>
    </div>
</div>

<main fxLayout="row">

    <section class="menu" fxFlex="100%" fxLayout="column" fxLayout.gt-md="row">

        <div class="menu__block-wrapper" fxFlex="100%" fxFlex.gt-md="33.3333333%">
            <div id="intro" class="menu__block">
                <h1>Wessel Loth</h1>
                <div class="reveal">
                    <div class="reveal__inner">
                        <p>I love to create meaningful software with passion, skill and a cup of coffee.</p>
                    </div>
                </div>
                <h3>Full Stack Developer</h3>
            </div>
        </div>

        <div class="menu__block-wrapper" fxFlex="100%" fxFlex.gt-md="33.3333333%">
            <div id="blog" class="menu__block">
                <h1>Blog</h1>
                <div class="reveal">
                    <div class="reveal__inner">
                        <p>Read my latest ramblings about software development in the real world.</p>
                    </div>
                </div>
                <h3>The latest from me</h3>
            </div>
        </div>

        <div class="menu__block-wrapper" fxFlex="100%" fxFlex.gt-md="33.3333333%">
            <div id="about" class="menu__block">
                <h1>About</h1>
                <div class="reveal">
                    <div class="reveal__inner">
                        <p>Sed elementum urna ex. Donec auctor interdum nisl sed laoreet.</p>
                    </div>
                </div>
                <h3>Get in touch</h3>
            </div>
        </div>
    </section>
</main>


<!-- <section fxLayout.xs="column" fxLayout.md="row" fxLayoutGap="1%">

    <md-card fxFlex.xs="95" fxFlex.lg="30">

        <md-card-header>
            <div md-card-avatar style="background-image: url('/assets/img/profile.jpg');background-size:cover;"></div>
            <md-card-title>Wessel Loth</md-card-title>
            <md-card-subtitle>Full Stack Developer</md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </md-card-content>

        <md-card-actions>
            <button md-button>GITHUB</button>
            <button md-button>LINKEDIN</button>
            <button md-button>TWITTER</button>
        </md-card-actions>

    </md-card>

    <md-card fxFlex.xs="95" fxFlex.lg="30">

        <md-card-header>
            <div md-card-avatar style="background-image: url('/assets/img/profile.jpg');background-size:cover;"></div>
            <md-card-title>Wessel Loth</md-card-title>
            <md-card-subtitle>Full Stack Developer</md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </md-card-content>

        <md-card-actions>
            <button md-button>GITHUB</button>
            <button md-button>LINKEDIN</button>
            <button md-button>TWITTER</button>
        </md-card-actions>

    </md-card>

    <md-card fxFlex.xs="95" fxFlex.lg="30">

        <md-card-header>
            <div md-card-avatar style="background-image: url('/assets/img/profile.jpg');background-size:cover;"></div>
            <md-card-title>Wessel Loth</md-card-title>
            <md-card-subtitle>Full Stack Developer</md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </md-card-content>

        <md-card-actions>
            <button md-button>GITHUB</button>
            <button md-button>LINKEDIN</button>
            <button md-button>TWITTER</button>
        </md-card-actions>

    </md-card>

</section>
<section fxLayout.xs="column" fxLayout.md="row" fxLayoutGap="1%">
    <md-card fxFlex.xs="95" fxFlex.lg="30">

        <md-card-header>
            <div md-card-avatar style="background-image: url('/assets/img/profile.jpg');background-size:cover;"></div>
            <md-card-title>Wessel Loth</md-card-title>
            <md-card-subtitle>Full Stack Developer</md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </md-card-content>

        <md-card-actions>
            <button md-button>GITHUB</button>
            <button md-button>LINKEDIN</button>
            <button md-button>TWITTER</button>
        </md-card-actions>

    </md-card>

    <md-card fxFlex.xs="95" fxFlex.lg="30">

        <md-card-header>
            <div md-card-avatar style="background-image: url('/assets/img/profile.jpg');background-size:cover;"></div>
            <md-card-title>Wessel Loth</md-card-title>
            <md-card-subtitle>Full Stack Developer</md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </md-card-content>

        <md-card-actions>
            <button md-button>GITHUB</button>
            <button md-button>LINKEDIN</button>
            <button md-button>TWITTER</button>
        </md-card-actions>

    </md-card>

    <md-card fxFlex.xs="95" fxFlex.lg="30">

        <md-card-header>
            <div md-card-avatar style="background-image: url('/assets/img/profile.jpg');background-size:cover;"></div>
            <md-card-title>Wessel Loth</md-card-title>
            <md-card-subtitle>Full Stack Developer</md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </md-card-content>

        <md-card-actions>
            <button md-button>GITHUB</button>
            <button md-button>LINKEDIN</button>
            <button md-button>TWITTER</button>
        </md-card-actions>

    </md-card>

</section> -->